.modal {
    position: fixed;
    border-radius: 28px;
    z-index: 100;
    .errors {
        position: fixed;
        display: flex;
        flex-flow: row wrap;
        width: 380px;
        bottom: 0px;
        right: 0px;
        justify-content: flex-start;
        // padding:10px;
        background:rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        border-bottom-right-radius: 28px;
        transition:all .3s ease-in-out;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
        .error-box {
            margin:0 10px;
            display: flex;
            align-items: center;
            &:nth-of-type(1){
                margin-top: 15px;
            }
            svg{
                background:red;padding: 5px;
                height:24px;
                width: 24px;
            }
            .error-text{
                width:90%;
                text-align: start;
                font-weight: bold;
                padding:5px;
            }
            
            animation: 1s ease-in-out 0s 1 fadeIn;
            flex-grow: 1;
            width:80%;
            margin-bottom: 10px;
            background: lighten(lightpink, 5%);
            border: 2px solid red;
            color: red;
            border-radius: 5px;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 28px;
            
        }
        
    }
    
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 28px;
    }
    .popup {
        position: fixed;
        bottom: 150px;
        &.small {
            bottom: 300px;
        }
        left: 35%;
        max-width: 30%;
        z-index: 101;
        .close-mini {
            position: absolute;
            z-index: 102;
            right: 10px;
            top: 10px;
            fill: #efefef;
            stroke-width: 2px;
            &:hover {
                path {
                    fill: pink;
                }
                stroke: red;
                stroke-width: 1px;
            }
        }
    }
}


